
html{
    scroll-behavior: smooth;
    background-color: #d0f5d6;

}
#navbar{

    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: palegreen;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    font-family: "Arial Black", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navbar a{

    outline: 2px darkgreen;
    outline-offset: 4px;
    text-decoration: none;
}

#navbar a[id="logo-knap"]{

    padding-left: 25px;
    color: black;

}

#navbar a[id="home"]{

    margin-left: auto;
    padding-right: 20px;
    color: black;


}
#navbar a[id="contact"] {
    padding-right: 20px;
    color: black;

}

#navbar a[id="login"]{

    padding-right: 20px;
    color: black;

}

.KontaktFormular{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

#kontakt{
    margin-bottom: -10px;
}

#Titel{
    margin-top: 40px;
    margin-bottom: -15px;
}

div {
    white-space: normal;
}

.Række1 {
    margin-top: 30px;
}

.Række2 {

}

.Besked{
    font-size: 160px;
    margin-top: 7px;
    margin-bottom: -10px;
}

#Navn{
    width: 200px;
    height: 35px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}

#Email{
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}

#Emne{
    width: 200px;
    height: 35px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;

}

#TlfNR{
    width: 200px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 2px solid darkgreen;
}

#Knap{
    background-color: darkgreen;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 15px;
    margin-top: -30px;
}