
html{
    scroll-behavior: smooth;
}
#navbar{

    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: greenyellow;
    height: 60px;
    line-height: 50px;
    font-size: 20px;

}

#navbar a{

    outline: 2px darkgreen;
    outline-offset: 4px;
}


#navbar a[href="#home"]{

    padding-left: 25px;
    color: black;
    text-decoration: none;

}
#navbar a[href="#contact"]{

    padding-left: 55px;
    color: black;
    text-decoration: none;

}#navbar a[href="#login"]{

    padding-left: 50px;
    color: black;
    text-decoration: none;
}