
html{
    scroll-behavior: smooth;
    background-color: #d0f5d6;
}
#navbar{

    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: palegreen;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    font-family: "Arial Black";
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navbar a{

    text-decoration: none;
}

#navbar a[href="#madspild_nej"]{

    padding-left: 25px;
    color: black;
;

}

#navbar a[id="home"]{

    margin-left: auto;
    padding-right: 20px;
    color: black;


}
#navbar a[id="contact"] {
    padding-right: 20px;
    color: black;

}

#navbar a[id="login"]{

    padding-right: 20px;
    color: black;

}

#food_waste{

    padding-top: 10px;
    height: 350px;
    width: 1247px;
    opacity: 0.75;
    transition: opacity 0.5s ease;

}

.overlay-text{

    font-family: "Arial Black";
    color: whitesmoke;
    font-size: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#om_os{

    background-color: cadetblue;
    max-width: 400px;
    max-height: 1000px;
    text-align: left;
    padding-left: 15px;

    padding-bottom: 50px;

}

#om_os h1{

    color: #d0f5d6;
    font-family: "Arial Black";
}

#om_os p1{

    color: #d0f5d6;
    font-family: "Arial Black";
    font-size: 20px;
    word-wrap: break-word;
    margin: 0 auto;

}

#info1{

    background-color: palegreen;
    max-width: 850px;
    height: 398px;
    padding: 0;
    margin-left: 500px;
    font-family: "Arial Black";
    text-align: left;
    margin-top: -418px;
    margin-left: 450px;
    padding-left: 15px;


}
#info1 p1{

    font-size: 20px;
    color: cadetblue;
    word-wrap: break-word;
    text-align: left;

}
#info1 h1{

    color: cadetblue;
    padding-left: 10px;

}


