
html{
    scroll-behavior: smooth;
}
#navbar{

    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: palegreen;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    font-family: "Arial Black";
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#navbar a{

    outline: 2px darkgreen;
    outline-offset: 4px;
    text-decoration: none;
}

#navbar a[href="#madspild_nej"]{

    padding-left: 25px;
    color: black;
;

}

#navbar a[id="home"]{

    margin-left: auto;
    padding-right: 20px;
    color: black;


}
#navbar a[id="contact"] {
    padding-right: 20px;
    color: black;

}

#navbar a[id="login"]{

    padding-right: 20px;
    color: black;

}

.option {

    height: 10px;
    width: 20px;
}

#mobilepay_pic{

    height: 30px;
    width: 60px;
    margin-bottom: -5px;
}

#dankort{

    height: 15px;
    width: 30px;

}

#visa{

    height: 15px;
    width: 35px;
}

#mastercard{

    height: 15px;
    width: 30px;
}

#adresse{

    height: 35px;
    width: 336px;
    border-radius: 5px;
}
#amount{

    height: 35px;
    width: 336px;
    border-radius: 5px;
}

#Navn{
    height: 35px;
    border-radius: 5px;
}
#efternavn{
    height: 35px;
    border-radius: 5px;
}
#email{
    height: 35px;
    border-radius: 5px;
}
#TlfNR{
    height: 35px;
    border-radius: 5px;
}
#postnummer{
    height: 35px;
    border-radius: 5px;
}
#by{
    height: 35px;
    border-radius: 5px;
}
#accept{

    width: 200px;
    height: 40px;

}

#accept{
    background-color: palegreen;
}


